<h1>My CRM</h1>
 
<ul>
  <% for company in @companies %>
    <li>
      <a href="/companies/ <%= company["id"]%>"> <%= company["name"] %></a>
    </li>
  <% end %>
</ul>

<ul>
  <li>
      <a href="/companies/new"> new company</a>
  </li>

</ul>